* {
    background-color: antiquewhite;
    color: slategray;
}
header {
    height: 32px;
}

h1 {
    color: slategray;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

h2 {
    color: slategray;
    font-size: 18px;
}

div {
    border: 2px solid slategray;
    padding: 2px;
    width: 50%;
}

button {
    background-color: slategray;
    color: white;
    text-decoration: underline;
    border-color: slategray;
}
#contactInfo {
    display: none;
    background-color: slategray !important;
}
p {
    color: antiquewhite;
    background-color: slategray;
}
button {
    background-color: antiquewhite;
    color: slategray;
}

a {
    color: purple;
}

@media only screen and (max-width: 480px) {
    #contactInfo {
        min-width: 200px;
    }
    #input {
        min-width: 200px;
    }
    button {
        display: block;
    }
}