header {
    height: 32px;
    color: slategray;
}

h1 {
    color: antiquewhite;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

h2 {
    color: slategray;
    font-size: 18px;
}

form {
    background-color: slategray;
}
label {
    color: antiquewhite;
}
#contactInfo {
    display: none;
}

