* {
    background-color: antiquewhite;
}
header {
    height: 32px;
}

h1 {
    color: slategray;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

h2 {
    color: slategray;
    font-size: 18px;
}
img {
    height: width;
    width: 25%;
    display: inline-block;
}
#text {
    color: slategray;
    display: inline-block;
    width: 70%;
    margin-left: 2%;
}


h3, li {
    color: slategray;
}

a {
    color: purple;
}

@media only screen and (max-width: 480px) {
    img {
        width: 80%;
        height: width;
        display: flexbox;
        justify-content: center;
    }
    #text {
        display: flexbox;
        justify-content: center;
    }
    #about {
        display: flexbox;
        justify-content: center;
    }
    #projects {
        display: flexbox;
        justify-content: center;
    }
}